@media (min-width: 1681px) and (max-width: 1919px) {
    .card-custom h3 {
        padding: 0 31px;
    }

    #history-carousel {
        padding: 20px;
        bottom: -20%;
    }

    #history-carousel .swiper-button-next {
        right: -0.5% !important;
        top: 84% !important;
    }

    #history-carousel .swiper-button-prev {
        top: 38%;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 69px !important;
    }

    .content-text h3 {
        font-size: 3.99em;
    }
}

@media (min-width: 1441px) and (max-width: 1600px) {
    .slide-content {
        padding: 0px 7.4%;
    }

    .stat-item {
        padding-bottom: 37px;
    }

    .slide-title {
        font-size: 3.5em;
    }

    .card-custom h3 {
        font-size: 21px;
        padding: 0px 24px;
    }

    .card-image {
        max-width: 67%;
        height: 25%;
        object-fit: cover;
    }

    .card-custom p {
        padding: 0;
    }

    .card-custom {
        height: 80%;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 90%;
    }

    .powering-progress .btn-design-new {
        padding: 0.7em 1em;
        width: 31%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        max-width: 18%;
        height: 21px;
    }

    .content-text h3 {
        font-size: 3.99em;
    }

    #history-carousel {
        padding: 20px;
        bottom: -12%;
    }

    .history-box {
        min-width: 280px;
        width: 97%;
    }

    .history-box .history-content p {
        font-size: 0.9em;
    }

    #history-carousel .swiper-button-next {
        right: -0.5% !important;
        top: 84% !important;
    }

    #history-carousel .swiper-button-prev {
        top: 38%;
        left: 95% !important;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 69px !important;
    }

    .btn-design {
        width: 16%;
        bottom: 5px;
        padding: 0.7em 1em;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design svg {
        max-width: 18%;
        height: 21px;
    }

    .join-us .btn-design-new {
        padding: 0.7em 1em;
        width: 19%;
        font-size: 0.8em;
        align-items: center;
    }

    .join-us .btn-design-new svg {
        max-width: 11%;
        height: 24px;
    }

    .news-content .btn-design-new {
        padding: 0.7em 1em;
        width: 38%;
        font-size: 0.8em;
        align-items: center;
    }

    .news-content .btn-design-new svg {
        max-width: 17%;
        height: 21px;
    }

    .footer-menu.contact {
        padding-left: 10em;
    }
}


@media (min-width: 1024px) and (max-width: 1360px) {
    .trusted-section .swiper-wrapper {
        align-items: center;
    }

    .copy-section {
        zoom: 79%;
    }

    .social-icons {
        justify-content: unset !important;
    }

    .nav .nav-links a {
        font-size: 1em;
    }

    .slide-content {
        padding: 0px 9%;
    }

    .stat-item {
        padding-bottom: 37px;
    }

    .slide-title {
        font-size: 3em;
        margin-bottom: 7rem;
    }

    .stat-number {
        font-size: 3em;
    }

    .slider-nav {
        bottom: 5em;
        left: 3%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    .card-custom h3 {
        font-size: 17px;
        padding: 0 20px;
    }

    .card-image {
        max-width: 60%;
        height: 21%;
        object-fit: cover;
        margin-bottom: 1.3em;
    }

    .trust-logo {
        object-fit: contain;
        transition: transform 0.3s ease;
        max-width: 12%;
    }

    .card-custom p {
        padding: 0;
    }

    .card-custom p {
        font-size: 0.8em;
    }

    .card-custom {
        height: 80%;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 70%;
    }

    .powering-progress .btn-design-new {
        padding: 0.7em 1em;
        width: 39%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        max-width: 18%;
        height: 19px;
    }

    .content-text h3 {
        font-size: 2.99em;
    }

    #history-carousel {
        padding: 14px;
        bottom: -5%;
        right: -32px;
    }

    .history-box {
        min-width: 300px;
    }

    .history-image {
        width: 46%;
    }

    .history-image img {
        width: 100%;
    }

    .outline-text {
        font-size: 0.8em;
    }


    .history-box .history-content p {
        font-size: 0.8em;
    }

    #history-carousel .swiper-button-next {
        right: -0.5% !important;
        top: 92% !important;
        zoom: 79%;
    }

    #history-carousel .swiper-button-prev {
        /* top: 38%; */
        left: 95.5% !important;
        zoom: 73%;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 69px !important;
    }

    .btn-design {
        width: 16%;
        bottom: 5px;
        padding: 0.7em 1em;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design svg {
        max-width: 18%;
        height: 21px;
    }

    .join-us .btn-design-new {
        padding: 0.7em 1em;
        width: 22%;
        font-size: 0.8em;
        align-items: center;
    }

    .join-us .btn-design-new svg {
        max-width: 11%;
        height: 22px;
    }

    #new-carousel .swiper-button-prev {
        left: -7% !important;
    }

    #new-carousel .swiper-button-next {
        right: -7% !important;
    }

    .news-content .btn-design-new {
        padding: 0.7em 1em;
        width: 44%;
        font-size: 0.8em;
        align-items: center;
    }

    .news-content .btn-design-new svg {
        max-width: 17%;
        height: 21px;
    }

    .footer-menu.contact {
        padding-left: 4em;
    }

    .news-box:hover .content-news-para,
    .news-box:hover .btn-design-new {
        font-size: 0.8em;
    }

    .ready h2 {
        font-size: 2em;
    }

    .ready .btn-design-new {
        width: 14%;
        font-size: 0.8em;
    }

    .trust-logo {
        max-width: 62%;
    }

    .vision-section .card-custom {
        height: 24em;
    }

    .about-banner-caption h2,
    .leadership-banner-caption h2 {
        font-size: 2.5em;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {

        height: 28em;
    }

    .leader-section .nav-pills .nav-link.active,
    .leader-section .nav-pills .show>.nav-link {
        font-size: 1.2em;
    }

    .leader-section .nav-pills .nav-link {
        font-size: 1.2em;
    }

    .leader-section .modal-dialog {
        max-width: 800px;
    }

    .leader-section .modal-content {
        padding: 1rem !important;
    }

    .member-name {
        font-size: 1.5em;
    }

    .member-postion {
        font-size: 1.2em;
    }

    .project-section .btn-design {
        position: unset;
        left: unset;
    }

}

@media only screen and (min-width: 1366px) and (max-width: 1366px) {
    .work-with-us-card {
        top: 40%;

    }

    .join-datta .card-custom p {
        padding: 0;
        font-size: 0.8em;
    }

    .join-datta .card-custom h3 {
        padding: 0;
    }

    .culture-slider {
        bottom: -30% !important;
    }

    .about-banner-caption h2,
    .leadership-banner-caption h2 {
        font-size: 2.5em;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {

        height: 28em;
    }

    .leader-section .nav-pills .nav-link.active,
    .leader-section .nav-pills .show>.nav-link {
        font-size: 1.2em;
    }

    .leader-section .nav-pills .nav-link {
        font-size: 1.2em;
    }

    .leader-section .modal-dialog {
        max-width: 800px;
    }

    .leader-section .modal-content {
        padding: 1rem !important;
    }

    .member-name {
        font-size: 1.5em;
    }

    .member-postion {
        font-size: 1.2em;
    }

    .trusted-section .swiper-wrapper {
        align-items: center;
    }

    .copy-section {
        zoom: 79%;
    }

    #history-carousel .swiper-button-prev {
        top: 35%;
        left: 95.5% !important;
        zoom: 79%;
    }

    #history-carousel .swiper-button-next {
        right: -0.5% !important;
        top: 85% !important;
        zoom: 79%;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 81px !important;
    }

    .nav .nav-links a {
        font-size: 1em;
    }

    .slide-content {
        padding: 0 8.4%;
    }

    .slide-title {
        font-size: 3.2em;
    }

    .slide-title {
        margin-bottom: 6rem;
    }

    .stats-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .offcanvas-menu ul li a {
        font-size: 1.8em;
    }

    .offcanvas-menu .submenu-toggle {
        font-size: 1.8em;
    }

    .offcanvas-header {
        margin: 0em 2em 0 0;
    }

    .custom-close {
        zoom: 70%;
    }


    .offcanvas-body {
        padding: 0;
        zoom: 90%;
    }

    .offcanvas-menu {
        zoom: 90%;
    }

    .card-image {
        max-width: 40%;
        object-fit: cover;
        max-height: 23%;
    }

    .card-custom h3 {
        font-size: 20px;
        padding: 0 16px;
    }

    .card-custom p {
        padding: 0;
    }

    .card-custom {
        height: 82%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    .trust-logo {
        max-width: 62%;
    }

    .content-text h3 {
        font-size: 3em;
    }

    .content-text p {
        font-size: 13px;
    }

    #history-carousel {
        bottom: -10%;
        padding: 21px;
        right: -2em;
    }

    .history-box {
        zoom: 80%;
        width: 92%;
    }

    #history-carousel .owl-nav button.owl-next,
    #history-carousel .owl-nav button.owl-prev {
        width: 4em !important;
        height: 4.3em !important;
    }

    .our-portfolio .btn-design {
        width: 17%;
        left: 3%;
        font-size: 0.9em;
        padding: 10px;
        bottom: 1%;
    }

    #history-carousel .owl-nav button.owl-next span,
    #history-carousel .owl-nav button.owl-prev span {
        font-size: 2.3em;
    }

    .btn-design-new {
        width: 24%;
        font-size: 0.9em;
        padding: 10px;
    }

    .media-resources {
        width: 15%;
    }

    .media-resources svg {
        max-width: 14% !important;
    }

    .news-box {
        max-width: 100%;
    }

    .content-news-para {
        font-size: 1em;
    }

    .news-content .btn-design-new {
        padding: 0.6em 1em;
        width: 47%;
        font-size: 0.9em;

    }

    .ready .btn-design-new {
        width: 17%;
        font-size: 0.9em;
        padding: 10px;
        align-items: center;
    }

    .btn-design-new svg {
        max-width: 12%;
        height: 22px;
    }

    .footer-menu.contact {
        padding-left: 6em;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 80%;
    }

    .powering-progress .btn-design-new svg {
        max-width: 14%;
    }

    .powering-progress .btn-design-new {
        font-size: 0.9em;
        padding: 10px;
        width: 45%;
    }

    .about-banner-caption h2,
    .leadership-banner-caption h2 {
        font-size: 2.5em;
    }

    .about-banner-caption h2 {
        font-size: 2.5em;
    }


    .vision-section .card-custom {
        height: 24em;
    }

}

@media only screen and (max-width: 480px) {
    .logo img {
        max-width: 55%;
    }

    .nav {
        width: 91%;
        margin-top: 0 !important;
        padding: 15px 11px;
        justify-content: space-between;
    }

    .section-text {
        padding: 0 11px;
    }

    .card-image {
        max-width: 34%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    header.shrink .nav {
        margin-top: 0em !important;
    }

    header.shrink {
        padding: 1.8em 0;
    }

    .slider-container {
        height: 70vh;
    }

    .slide-content {
        zoom: 77%;
    }

    .slide-title {
        margin-bottom: 2rem;
    }

    .stats-container {
        flex-wrap: unset;
    }

    .plr {
        padding: 0.688em;
    }

    .footer-menu {
        display: unset !important;
    }

    .footer-menu h5 {

        margin-top: 2em;
    }

    .footer-menu.contact {
        margin-top: 0em;
        padding-left: unset;
    }

    .card-custom h3 {
        font-size: 15px;
        padding: 0;
    }

    .card-custom p {
        padding: 0;
        font-size: 0.8em;
    }

    .card-custom {
        padding: 5px;
        height: 90%;

    }

    .card-image {
        max-width: 40%;
        object-fit: cover;
        max-height: 23%;
        margin: 1em 0;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 70%;
    }

    .powering-progress .btn-design-new {
        padding: 6px;
        width: 62%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        height: 22px;
    }

    .content-text {
        max-width: 100%;
    }

    .content-text h3 {
        font-size: 2em;
    }

    .history-box {
        zoom: 53%;
    }

    #history-carousel {
        bottom: -2%;
        padding: 17px;
    }

    #history-carousel .owl-nav button.owl-next span,
    #history-carousel .owl-nav button.owl-prev span {
        font-size: 2em;
    }

    #history-carousel .owl-nav button.owl-next,
    #history-carousel .owl-nav button.owl-prev {
        width: 4em !important;
        height: 4em !important;
        margin-right: 10px;
    }

    .btn-design {
        top: 66%;
        zoom: 69%;
        left: 2%;
        width: 35%;
    }

    .btn-design-new {
        width: 62%;
    }

    #join-carousel .owl-dots {
        width: 21%;
        padding: 3px;
        left: 39%;
    }

    .news-box {
        max-width: 100%;
    }

    .ready h2 {
        font-size: 1.4em;
    }

    .ready .btn-design-new {
        width: 45%;
    }

    .social-icons {
        justify-content: unset !important;
    }
}

@media (min-width: 321px) and (max-width: 424px) {
    .news-content .btn-design-new {
    width: 50%;
}
}
