/* 110% */
@media (min-width: 1681px) and (max-width: 1919px) {
    .about-card-second {
        height: 26em !important;
    }

    .custom-css-in-blog {
        height: 70% !important;
    }

    .about-core-icon {
        max-width: 33%;
    }

    .about-core-card-h {
        height: 24em !important;
    }

    .card-custom h3 {
        padding: 0 31px;
    }

    .card-custom p {
        padding: 0;
    }

    .card-image {
        margin: 2.3em 0;
        max-width: 64%;
        object-fit: cover;
        height: 23%;
    }

    .card-custom {
        height: 90%;
    }

    #history-carousel {
        padding: 20px;
        bottom: -23%;
    }

    .btn-design {
        width: 14%;
    }

    #history-carousel .swiper-button-next {
        right: -0.5% !important;
        top: 84% !important;
    }

    #history-carousel .swiper-button-prev {
        top: 38%;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 69px !important;
    }

    .content-text h3 {
        font-size: 3.99em;
    }
}

/* 125% */

@media (min-width: 1441px) and (max-width: 1600px) {
    .card-custom p {
        padding: 0;
    }

    .custom-css-in-blog {
        height: 65% !important;
    }

    .contact-submit-btn {
        position: unset;
    }

    .key-highlights .display-4 {
        font-size: 3rem;
    }

    .cistom-gridifnra .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 13%;
    }

    .custom-epc-dosts .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 9%;
        left: 46%;
    }

    .custom-ind-dosts .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 21%;
        padding: 8px;
        left: 41%;
    }

    .custom-ind-dosts .swiper-pagination-bullet {
        height: 7px;
    }

    .about-banner-caption h2 {
        font-size: 3em;
    }

    .leadership-banner-caption h2 {
        font-size: 3em;
    }

    .team-card {
        height: 34em;
    }

    .about-card-second {
        height: 26em !important;
    }

    .about-core-icon {
        max-width: 33%;
    }

    .about-core-card-h {
        height: 24em !important;
    }

    .stats-container {
        margin-bottom: 3em;
    }

    .slide-content {
        padding: 0px 7.4%;
    }

    .stat-item {
        padding-bottom: 17px;
    }

    .custom-row-css {
        --bs-gutter-y: unset !important;
        --bs-gutter-x: unset !important;
    }

    .slide-title {
        font-size: 3.5em;
    }

    .card-custom h3 {
        font-size: 21px;
        padding: 0px 24px;
    }

    .card-image {
        max-width: 67%;
        height: 25%;
        object-fit: cover;
    }

    .card-custom p {
        padding: 0;
    }

    .card-custom {
        height: 80%;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 90%;
    }

    .powering-progress .btn-design-new {
        padding: 0.7em 1em;
        width: 31%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        max-width: 18%;
        height: 21px;
    }

    .content-text h3 {
        font-size: 3.4em;
    }

    #history-carousel {
        padding: 20px;
        bottom: -18%;
    }

    .history-box {
        min-width: 280px;
        width: 97%;
    }

    .swiper-pagination-bullet {
        height: 5px;
    }

    .history-box .history-content p {
        font-size: 0.9em;
    }

    .home-all-card {
        height: 25em !important;
    }

    #history-carousel .swiper-button-next {
        right: -0.5% !important;
        top: 84% !important;
    }

    #history-carousel .swiper-button-prev {
        top: 38%;
        left: 95% !important;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 69px !important;
    }

    .btn-design {
        width: 16%;
        bottom: 5px;
        padding: 0.7em 1em;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design svg {
        max-width: 18%;
        height: 21px;
    }

    .join-us .btn-design-new {
        padding: 0.7em 1em;
        width: 19%;
        font-size: 0.8em;
        align-items: center;
    }

    .join-us .btn-design-new svg {
        max-width: 11%;
        height: 24px;
    }

    .news-content .btn-design-new {
        padding: 0.7em 1em;
        width: 38%;
        font-size: 0.8em;
        align-items: center;
    }

    .news-content .btn-design-new svg {
        max-width: 17%;
        height: 21px;
    }

    .footer-menu.contact {
        padding-left: 10em;
    }
}

/* 150% */
@media (min-width: 1024px) and (max-width: 1360px) {
    .stats-container {
        margin-bottom: 2em;
    }

    .investors-section .swiper-button-prev,
    .investors-section .swiper-button-next {
        top: 100% !important;
    }

    .cat-name {
        zoom: 82%;
    }

    .logo img {
        max-width: 70%;
    }

    .custom-css-in-blog {
        height: 65% !important;
    }

    .contact-submit-btn {
        position: unset;
    }

    .press-tile-custom {
        font-size: 1.1em;
        font-weight: 500;
    }

    .newsroom p {
        font-size: 0.8em;
    }

    .costom-community {
        max-height: 6em;
    }

    .cistom-gridifnra .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 16%;
    }

    .custom-epc-dosts .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 10%;
        left: 46%;
    }

    .custom-ind-dosts .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 21%;
        padding: 8px;
        left: 41%;
    }

    .custom-ind-dosts .swiper-pagination-bullet {
        height: 7px;
    }

    .key-highlights .display-4 {
        font-size: 2em;
    }

    .award-title {
        font-size: 1em;
    }

    .pro-ti {
        font-size: 0.8em;
    }

    .custom-donts .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 22%;
        left: 39%;
    }

    .content-news-para {
        font-size: 0.8em;
    }

    .about-card-second {
        height: 21em !important;
    }

    .about-core-card-h {
        height: 21em !important;
    }

    .about-state,
    .about-location {
        font-size: 1em;
    }

    .trusted-section .swiper-wrapper {
        align-items: center;
    }

    .copy-section {
        zoom: 79%;
    }

    .social-icons {
        justify-content: unset !important;
    }

    .nav .nav-links a {
        font-size: 1em;
    }

    .slide-content {
        padding: 0px 9%;
    }

    .stat-item {
        padding-bottom: 10px;
    }

    .stat-label {
        font-size: 0.8em;
    }

    .slide-title {
        font-size: 3em;
        margin-bottom: 7rem;
    }

    .stat-number {
        font-size: 2.2em;
    }

    .power-content h4 {
        font-size: 1.3em;
    }

    .section-text,
    .sus-para,
    .content-text p,
    .power-content p {
        font-size: 0.8em;
    }

    .slider-nav {
        bottom: 5em;
        left: 3%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    .card-custom h3 {
        font-size: 17px;
        padding: 0 20px;
    }

    .card-image {
        max-width: 60%;
        height: 21%;
        object-fit: cover;
        margin-bottom: 1.3em;
    }

    .trust-logo {
        object-fit: contain;
        transition: transform 0.3s ease;
        max-width: 12%;
    }

    .card-custom p {
        padding: 0;
    }

    .card-custom p {
        font-size: 0.8em;
    }

    .card-custom {
        height: 80%;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 70%;
    }

    .powering-progress .btn-design-new {
        padding: 0.7em 1em;
        width: 39%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        max-width: 18%;
        height: 19px;
    }

    .content-text h3 {
        font-size: 2.4em;
    }

    .custom-size-image {
        height: 83px;
    }

    #history-carousel {
        padding: 14px;
        bottom: -15%;
        right: -32px;
    }

    .history-box {
        min-width: 300px;
    }

    .history-image {
        width: 46%;
    }

    .history-image img {
        width: 100%;
    }

    .outline-text {
        font-size: 0.8em;
    }


    .history-box .history-content p {
        font-size: 0.8em;
    }

    #history-carousel .swiper-button-next {
        right: -1% !important;
        top: 92% !important;
        zoom: 79%;
    }

    #history-carousel .swiper-button-prev {
        /* top: 38%; */
        left: 95.7% !important;
        zoom: 78%;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 8%;
        padding: 4px;
        height: 27px;
    }

    .home-all-card {
        height: 23em !important;
    }

    .swiper-pagination-bullet {
        height: 5px;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 75px !important;
    }

    .btn-design {
        width: 16%;
        bottom: 5px;
        padding: 0.7em 1em;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design svg {
        max-width: 18%;
        height: 21px;
    }

    .join-us .btn-design-new {
        padding: 0.7em 1em;
        width: 22%;
        font-size: 0.8em;
        align-items: center;
    }

    .join-us .btn-design-new svg {
        max-width: 11%;
        height: 22px;
    }

    #new-carousel .swiper-button-prev {
        left: -7% !important;
    }

    #new-carousel .swiper-button-next {
        right: -7% !important;
    }

    .news-content .btn-design-new {
        padding: 0.7em 1em;
        width: 44%;
        font-size: 0.8em;
        align-items: center;
    }

    .news-content .btn-design-new svg {
        max-width: 17%;
        height: 21px;
    }

    .footer-menu.contact {
        padding-left: 4em;
    }

    .news-box:hover .content-news-para,
    .news-box:hover .btn-design-new {
        font-size: 0.8em;
    }

    .ready h2 {
        font-size: 2em;
    }

    .ready .btn-design-new {
        width: 14%;
        font-size: 0.8em;
    }

    .trust-logo {
        max-width: 62%;
    }

    .vision-section .card-custom {
        height: 24em;
    }

    .about-banner-caption h2,
    .leadership-banner-caption h2 {
        font-size: 2.5em;
    }

    .team-name {
        padding: 1em;
        padding-top: 0.5em;
    }

    .team-name h5 {
        font-size: 1em;
    }

    .team-name p {
        font-size: 0.8em;
    }

    .team-card {

        height: 26em;
    }

    .leader-section .nav-pills .nav-link.active,
    .leader-section .nav-pills .show>.nav-link {
        font-size: 1.2em;
    }

    .leader-section .nav-pills .nav-link {
        font-size: 1.2em;
    }

    .leader-section .modal-dialog {
        max-width: 800px;
    }

    .leader-section .modal-content {
        padding: 1rem !important;
    }

    .member-name {
        font-size: 1.5em;
    }

    .member-postion {
        font-size: 1.2em;
    }

    .project-section .btn-design {
        position: unset;
        left: unset;
    }

}

@media only screen and (min-width: 1366px) and (max-width: 1366px) {
    .work-with-us-card {
        top: 40%;

    }

    .join-datta .card-custom p {
        padding: 0;
        font-size: 0.8em;
    }

    .join-datta .card-custom h3 {
        padding: 0;
    }

    .culture-slider {
        bottom: -30% !important;
    }

    .about-banner-caption h2,
    .leadership-banner-caption h2 {
        font-size: 2.5em;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {

        height: 28em;
    }

    .leader-section .nav-pills .nav-link.active,
    .leader-section .nav-pills .show>.nav-link {
        font-size: 1.2em;
    }

    .leader-section .nav-pills .nav-link {
        font-size: 1.2em;
    }

    .leader-section .modal-dialog {
        max-width: 800px;
    }

    .leader-section .modal-content {
        padding: 1rem !important;
    }

    .member-name {
        font-size: 1.5em;
    }

    .member-postion {
        font-size: 1.2em;
    }

    .trusted-section .swiper-wrapper {
        align-items: center;
    }

    .copy-section {
        zoom: 79%;
    }

    #history-carousel .swiper-button-prev {
        top: 35%;
        left: 95.5% !important;
        zoom: 79%;
    }

    #history-carousel .swiper-button-next {
        right: -0.5% !important;
        top: 85% !important;
        zoom: 79%;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 63px !important;
        height: 81px !important;
    }

    .nav .nav-links a {
        font-size: 1em;
    }

    .slide-content {
        padding: 0 8.4%;
    }

    .slide-title {
        font-size: 3.2em;
    }

    .slide-title {
        margin-bottom: 6rem;
    }

    .stats-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .offcanvas-menu ul li a {
        font-size: 1.8em;
    }

    .offcanvas-menu .submenu-toggle {
        font-size: 1.8em;
    }

    .offcanvas-header {
        margin: 0em 2em 0 0;
    }

    .custom-close {
        zoom: 70%;
    }


    .offcanvas-body {
        padding: 0;
        zoom: 90%;
    }

    .offcanvas-menu {
        zoom: 90%;
    }

    .card-image {
        max-width: 40%;
        object-fit: cover;
        max-height: 23%;
    }

    .card-custom h3 {
        font-size: 20px;
        padding: 0 16px;
    }

    .card-custom p {
        padding: 0;
    }

    .card-custom {
        height: 82%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    .trust-logo {
        max-width: 62%;
    }

    .content-text h3 {
        font-size: 3em;
    }

    .content-text p {
        font-size: 13px;
    }

    #history-carousel {
        bottom: -10%;
        padding: 21px;
        right: -2em;
    }

    .history-box {
        zoom: 80%;
        width: 92%;
    }

    #history-carousel .owl-nav button.owl-next,
    #history-carousel .owl-nav button.owl-prev {
        width: 4em !important;
        height: 4.3em !important;
    }

    .our-portfolio .btn-design {
        width: 17%;
        left: 3%;
        font-size: 0.9em;
        padding: 10px;
        bottom: 1%;
    }

    #history-carousel .owl-nav button.owl-next span,
    #history-carousel .owl-nav button.owl-prev span {
        font-size: 2.3em;
    }

    .btn-design-new {
        width: 24%;
        font-size: 0.9em;
        padding: 10px;
    }

    .media-resources {
        width: 15%;
    }

    .media-resources svg {
        max-width: 14% !important;
    }

    .news-box {
        max-width: 100%;
    }

    .content-news-para {
        font-size: 1em;
    }

    .news-content .btn-design-new {
        padding: 0.6em 1em;
        width: 47%;
        font-size: 0.9em;

    }

    .ready .btn-design-new {
        width: 17%;
        font-size: 0.9em;
        padding: 10px;
        align-items: center;
    }

    .btn-design-new svg {
        max-width: 12%;
        height: 22px;
    }

    .footer-menu.contact {
        padding-left: 6em;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 80%;
    }

    .powering-progress .btn-design-new svg {
        max-width: 14%;
    }

    .powering-progress .btn-design-new {
        font-size: 0.9em;
        padding: 10px;
        width: 45%;
    }

    .about-banner-caption h2,
    .leadership-banner-caption h2 {
        font-size: 2.5em;
    }

    .about-banner-caption h2 {
        font-size: 2.5em;
    }


    .vision-section .card-custom {
        height: 24em;
    }

}

/* 676 7686  */
@media (max-width: 768px) {
    .tag-link {
        display: unset !important;
    }

    .news-con-view {
        padding: 0 !important;
        margin-top: 1em;
    }

    .custom-css-in-blog {
        height: unset !important;
    }

    .contact-submit-btn {
        position: unset;
    }
        .contect-form {
            padding: 0 0em;
        }
}


/* @media (min-width: 761px) and (max-width: 768px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 95px !important;
        height: 89px !important;
        zoom: 79%;
        margin-right: 16px;
        margin-left: -18px;
    }
}

@media (min-width: 751px) and (max-width: 760px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 94px !important;
        height: 89px !important;
        zoom: 79%;
        margin-right: 16px;
        margin-left: -18px;
    }
}

@media (min-width: 745px) and (max-width: 750px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 92px !important;
        height: 89px !important;
        zoom: 79%;
        margin-right: 16px;
        margin-left: -18px;
    }
}

@media (min-width: 725px) and (max-width: 745px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 90px !important;
        height: 89px !important;
        zoom: 79%;
        margin-right: 16px;
        margin-left: -18px;
    }
}

@media (min-width: 711px) and (max-width: 724px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 88px !important;
        height: 89px !important;
        zoom: 79%;
        margin-right: 16px;
        margin-left: -18px;
    }
}

@media (min-width: 701px) and (max-width: 710px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 86px !important;
        height: 89px !important;
        zoom: 79%;
        margin-right: 16px;
        margin-left: -18px;
    }
}

@media (min-width: 682px) and (max-width: 700px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 85px !important;
        height: 89px !important;
        zoom: 79%;
        margin-right: 16px;
        margin-left: -18px;
    }
}

@media (min-width: 677px) and (max-width: 681px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 64px !important;
        height: 67px !important;
    }
} */

@media (min-width: 677px) and (max-width: 768px) {
    .slider-nav {
        display: none;
    }

    .slider-container {
        height: 34em;
    }

    .top-banner {
        height: 29em;
    }

    .custom-view {
        min-height: 39em !important;
    }

    .power-img img {
        margin-bottom: 1em;
    }

    .trusted-section {
        position: relative;
    }

    .home-all-card {
        height: 27em !important;
    }

    #new-carousel .swiper-button-prev,
    #new-carousel .swiper-button-next {
        display: none;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 28%;
        left: 37%;
        height: 29px;
    }

    /* #history-carousel .swiper-button-prev,
        #history-carousel .swiper-button-next {
            width: 42px !important;
            height: 48px !important;
        } */

    #history-carousel .swiper-button-prev {
        left: 89.6% !important;
    }

    .divider {
        height: 144px;
        width: 2px;
        margin-left: 20px;
        rotate: 90deg;
        position: absolute;
        top: -6%;
        right: 49%;
    }

    .slide {
        background-position: left;
        height: 87%;
    }

    .logo img {
        max-width: 100%;
    }

    .nav {
        width: 100%;
        margin-top: 0 !important;
        padding: 15px 11px;
        justify-content: space-between;
    }

    .section-text {
        padding: 0 11px;
    }

    .card-image {
        max-width: 34%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    header.shrink .nav {
        margin-top: 0em !important;
    }

    header.shrink {
        padding: 2.5em 0;
    }

    .slider-container {
        height: 70vh;
    }

    .slide-content {
        zoom: 77%;
    }

    .slide-title {
        margin-bottom: 2rem;
    }

    .stats-container {
        flex-wrap: unset;
    }

    .plr {
        padding: 0.688em;
    }

    .footer-menu {
        display: unset !important;
    }

    .footer-menu h5 {

        margin-top: 2em;
    }

    .footer-menu.contact {
        margin-top: 0em;
        padding-left: unset;
    }

    .card-custom h3 {
        font-size: 15px;
        padding: 0;
    }

    .card-custom p {
        padding: 0;
        font-size: 1em;
    }

    .card-custom {
        padding: 5px;
        height: 90%;

    }

    .card-image {
        max-width: 40%;
        object-fit: cover;
        max-height: 23%;
        margin: 1em 0;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 70%;
    }

    .powering-progress .btn-design-new {
        padding: 11px;
        width: 37%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        height: 22px;
    }

    .content-text {
        max-width: 85%;
        zoom: 96%;
    }

    .content-text h3 {
        font-size: 2.4em;
    }

    .history-box {
        zoom: 88%;
    }

    #history-carousel {
        bottom: -34%;
        padding: 17px;
        max-width: 100%;
        right: -9%;
    }

    #history-carousel .owl-nav button.owl-next span,
    #history-carousel .owl-nav button.owl-prev span {
        font-size: 2em;
    }

    #history-carousel .owl-nav button.owl-next,
    #history-carousel .owl-nav button.owl-prev {
        width: 4em !important;
        height: 4em !important;
        margin-right: 10px;
    }

    .btn-design {
        top: 84%;
        left: 9%;
        width: 53%;
    }

    .btn-design-new {
        width: 48%;
    }

    #join-carousel .owl-dots {
        width: 21%;
        padding: 3px;
        left: 39%;
    }

    .news-box {
        max-width: 100%;
    }

    .ready h2 {
        font-size: 1.4em;
    }

    .ready .btn-design-new {
        width: 45%;
    }

    .social-icons {
        justify-content: unset !important;
    }

    .offcanvas-body {
        zoom: 82%;
    }

    /* about  */
    .about-banner {
        height: 21em;
    }

    .about-banner img {
        height: 21em;
        object-fit: cover;
    }

    .about-banner-caption h2 {
        zoom: 42%;
    }

    .vision-section .card-custom p {
        zoom: 86%;
    }

    .core-values .card-custom {
        height: 18em;
    }

    .timeline-dot {
        top: 0%;
        left: 1.1%;
    }

    .timeline-image img {
        max-width: 89%;
    }

    .custom-vew-state {
        padding-left: 0 !important;
        zoom: 72%;
    }

    .about-card-second {
        height: 18em !important;
    }

    /* leadership  */
    .leadership-banner {
        height: 21em;
    }

    .leadership-banner img {
        height: 21em;
        object-fit: cover;
    }

    .leadership-banner-caption {
        width: 90%;
    }

    .leadership-banner-caption h2 {
        zoom: 42%;
    }

    .leader-section ul#pills-tab {
        zoom: 106%;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {
        height: unset;
    }

    .custom-view-small {
        padding: 1em 0 !important;
    }

    .member-name {
        font-size: 1.4em;
    }

    .project-section .btn-design {
        left: unset;
        position: unset;
    }

    .work-with-us-card {
        zoom: 80%;
        right: 6px;
        top: 39%;
    }

    .work-with-us-card .btn-design {
        width: 78%;
    }
}

/* port  */


/* 
@media (min-width: 671px) and (max-width: 676px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 64px !important;
        height: 67px !important;
    }
}

@media (min-width: 650px) and (max-width: 670px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 62px !important;
        height: 67px !important;
    }
}

@media (min-width: 625px) and (max-width: 650px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 60px !important;
        height: 67px !important;
    }
}

@media (min-width: 606px) and (max-width: 625px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 58px !important;
        height: 67px !important;
    }
}

@media (min-width: 590px) and (max-width: 606px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 57px !important;
        height: 67px !important;
    }
}

@media (min-width: 575px) and (max-width: 590px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 53px !important;
        height: 67px !important;
    }
} */

@media (min-width: 575px) and (max-width: 676px) {
    .slider-nav {
        display: none;
    }

    .slider-container {
        height: 34em;
    }

    .top-banner {
        height: 29em;
    }

    .custom-view {
        min-height: 39em !important;
    }

    .power-img img {
        margin-bottom: 1em;
    }

    .trusted-section {
        position: relative;
    }

    .home-all-card {
        height: 27em !important;
    }

    #new-carousel .swiper-button-prev,
    #new-carousel .swiper-button-next {
        display: none;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 28%;
        left: 37%;
        height: 29px;
    }

    /* #history-carousel .swiper-button-prev,
        #history-carousel .swiper-button-next {
            width: 42px !important;
            height: 48px !important;
        } */

    #history-carousel .swiper-button-prev {
        left: 89.6% !important;
    }

    .divider {
        height: 144px;
        width: 2px;
        margin-left: 20px;
        rotate: 90deg;
        position: absolute;
        top: -6%;
        right: 49%;
    }

    .slide {
        background-position: left;
        height: 87%;
    }

    .logo img {
        max-width: 100%;
    }

    .nav {
        width: 100%;
        margin-top: 0 !important;
        padding: 15px 11px;
        justify-content: space-between;
    }

    .section-text {
        padding: 0 11px;
    }

    .card-image {
        max-width: 34%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    header.shrink .nav {
        margin-top: 0em !important;
    }

    header.shrink {
        padding: 2.5em 0;
    }

    .slider-container {
        height: 70vh;
    }

    .slide-content {
        zoom: 77%;
    }

    .slide-title {
        margin-bottom: 2rem;
    }

    .stats-container {
        flex-wrap: unset;
    }

    .plr {
        padding: 0.688em;
    }

    .footer-menu {
        display: unset !important;
    }

    .footer-menu h5 {

        margin-top: 2em;
    }

    .footer-menu.contact {
        margin-top: 0em;
        padding-left: unset;
    }

    .card-custom h3 {
        font-size: 15px;
        padding: 0;
    }

    .card-custom p {
        padding: 0;
        font-size: 0.8em;
    }

    .card-custom {
        padding: 5px;
        height: 90%;

    }

    .card-image {
        max-width: 40%;
        object-fit: cover;
        max-height: 23%;
        margin: 1em 0;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 70%;
    }

    .powering-progress .btn-design-new {
        padding: 11px;
        width: 37%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        height: 22px;
    }

    .content-text {
        max-width: 85%;
        zoom: 96%;
    }

    .content-text h3 {
        font-size: 2.1em;
    }

    .history-box {
        zoom: 88%;
    }

    #history-carousel {
        bottom: -37%;
        padding: 17px;
        max-width: 100%;
        right: -9%;
    }

    #history-carousel .owl-nav button.owl-next span,
    #history-carousel .owl-nav button.owl-prev span {
        font-size: 2em;
    }

    #history-carousel .owl-nav button.owl-next,
    #history-carousel .owl-nav button.owl-prev {
        width: 4em !important;
        height: 4em !important;
        margin-right: 10px;
    }

    .btn-design {
        top: 84%;
        left: 9%;
        width: 53%;
    }

    .btn-design-new {
        width: 48%;
    }

    #join-carousel .owl-dots {
        width: 21%;
        padding: 3px;
        left: 39%;
    }

    .news-box {
        max-width: 100%;
    }

    .ready h2 {
        font-size: 1.4em;
    }

    .ready .btn-design-new {
        width: 45%;
    }

    .social-icons {
        justify-content: unset !important;
    }

    .offcanvas-body {
        zoom: 82%;
    }

    /* about  */
    .about-banner {
        height: 21em;
    }

    .about-banner img {
        height: 21em;
        object-fit: cover;
    }

    .about-banner-caption h2 {
        zoom: 42%;
    }

    .vision-section .card-custom p {
        zoom: 86%;
    }

    .core-values .card-custom {
        height: 18em;
    }

    .timeline-dot {
        top: 0%;
        left: 1.5%;
    }

    .timeline-image img {
        max-width: 89%;
    }

    .custom-vew-state {
        padding-left: 0 !important;
        zoom: 72%;
    }

    .about-card-second {
        height: 18em !important;
    }

    /* leadership  */
    .leadership-banner {
        height: 21em;
    }

    .leadership-banner img {
        height: 21em;
        object-fit: cover;
    }

    .leadership-banner-caption {
        width: 90%;
    }

    .leadership-banner-caption h2 {
        zoom: 42%;
    }

    .leader-section ul#pills-tab {
        zoom: 106%;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {
        height: unset;
    }

    .custom-view-small {
        padding: 1em 0 !important;
    }

    .member-name {
        font-size: 1.4em;
    }

    .project-section .btn-design {
        left: unset;
        position: unset;
    }

    .work-with-us-card {
        zoom: 59%;
        right: 6px;
        top: 39%;
    }

    .work-with-us-card .btn-design {
        width: 78%;
    }
}

/* @media (min-width: 570px) and (max-width: 575px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 53px !important;
        height: 67px !important;
    }
}

@media (min-width: 540px) and (max-width: 570px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 52px !important;
        height: 67px !important;
    }
}

@media (min-width: 540px) and (max-width: 550px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 50px !important;
        height: 67px !important;
    }
}

@media (min-width: 528px) and (max-width: 540px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 49px !important;
        height: 67px !important;
    }
}

@media (min-width: 514px) and (max-width: 528px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 46px !important;
        height: 67px !important;
    }
}

@media (min-width: 502px) and (max-width: 513px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 46px !important;
        height: 67px !important;
    }
}

@media (min-width: 481px) and (max-width: 501px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 45px !important;
        height: 67px !important;
    }
}

@media (min-width: 481px) and (max-width: 490px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 44px !important;
        height: 67px !important;
    }
} */


@media (min-width: 480px) and (max-width: 574px) {
    .slider-container {
        height: 34em;
    }

    .work-with-us-card {
        zoom: 59%;
        right: 6px;
        top: 39%;
    }

    .work-with-us-card .btn-design {
        width: 78%;
    }

    .top-banner {
        height: 29em;
    }

    .custom-view {
        min-height: 39em !important;
    }

    .power-img img {
        margin-bottom: 1em;
    }

    .trusted-section {
        position: relative;
    }

    .home-all-card {
        height: 27em !important;
    }

    #new-carousel .swiper-button-prev,
    #new-carousel .swiper-button-next {
        display: none;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 28%;
        left: 37%;
        height: 29px;
    }

    /* #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 42px !important;
        height: 48px !important;
    } */

    #history-carousel .swiper-button-prev {
        left: 89.6% !important;
    }

    .divider {
        height: 144px;
        width: 2px;
        margin-left: 20px;
        rotate: 90deg;
        position: absolute;
        top: -6%;
        right: 49%;
    }

    .slide {
        background-position: left;
        height: 87%;
    }

    .logo img {
        max-width: 100%;
    }

    .nav {
        width: 100%;
        margin-top: 0 !important;
        padding: 15px 11px;
        justify-content: space-between;
    }

    .section-text {
        padding: 0 11px;
    }

    .card-image {
        max-width: 34%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    header.shrink .nav {
        margin-top: 0em !important;
    }

    header.shrink {
        padding: 2.5em 0;
    }

    .slider-container {
        height: 70vh;
    }

    .slide-content {
        zoom: 77%;
    }

    .slide-title {
        margin-bottom: 2rem;
    }

    .stats-container {
        flex-wrap: unset;
    }

    .plr {
        padding: 0.688em;
    }

    .footer-menu {
        display: unset !important;
    }

    .footer-menu h5 {

        margin-top: 2em;
    }

    .footer-menu.contact {
        margin-top: 0em;
        padding-left: unset;
    }

    .card-custom h3 {
        font-size: 15px;
        padding: 0;
    }

    .card-custom p {
        padding: 0;
        font-size: 0.8em;
    }

    .card-custom {
        padding: 5px;
        height: 90%;

    }

    .card-image {
        max-width: 40%;
        object-fit: cover;
        max-height: 23%;
        margin: 1em 0;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 70%;
    }

    .powering-progress .btn-design-new {
        padding: 11px;
        width: 37%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        height: 22px;
    }

    .content-text {
        max-width: 85%;
        zoom: 96%;
    }

    .content-text h3 {
        font-size: 1.7em;
    }

    .history-box {
        zoom: 88%;
    }

    #history-carousel {
        bottom: -40%;
        padding: 17px;
        max-width: 100%;
        right: -9%;
    }

    #history-carousel .owl-nav button.owl-next span,
    #history-carousel .owl-nav button.owl-prev span {
        font-size: 2em;
    }

    #history-carousel .owl-nav button.owl-next,
    #history-carousel .owl-nav button.owl-prev {
        width: 4em !important;
        height: 4em !important;
        margin-right: 10px;
    }

    .btn-design {
        top: 84%;
        left: 9%;
        width: 53%;
    }

    .btn-design-new {
        width: 62%;
    }

    #join-carousel .owl-dots {
        width: 21%;
        padding: 3px;
        left: 39%;
    }

    .news-box {
        max-width: 100%;
    }

    .ready h2 {
        font-size: 1.4em;
    }

    .ready .btn-design-new {
        width: 45%;
    }

    .social-icons {
        justify-content: unset !important;
    }

    .offcanvas-body {
        zoom: 82%;
    }

    /* about  */
    .about-banner {
        height: 21em;
    }

    .about-banner img {
        height: 21em;
        object-fit: cover;
    }

    .about-banner-caption h2 {
        zoom: 42%;
    }

    .vision-section .card-custom p {
        zoom: 86%;
    }

    .core-values .card-custom {
        height: 18em;
    }

    .timeline-dot {
        top: 0%;
        left: 2%;
    }

    .timeline-image img {
        max-width: 89%;
    }

    .custom-vew-state {
        padding-left: 0 !important;
        zoom: 72%;
    }

    .about-card-second {
        height: 18em !important;
    }

    /* leadership  */
    .leadership-banner {
        height: 21em;
    }

    .leadership-banner img {
        height: 21em;
        object-fit: cover;
    }

    .leadership-banner-caption {
        width: 90%;
    }

    .leadership-banner-caption h2 {
        zoom: 42%;
    }

    .leader-section ul#pills-tab {
        zoom: 89%;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {
        height: unset;
    }

    .custom-view-small {
        padding: 1em 0 !important;
    }

    .member-name {
        font-size: 1.4em;
    }

    .project-section .btn-design {
        left: unset;
        position: unset;
    }
}

@media only screen and (max-width: 480px) {
    .top-banner {
        height: 29em;
    }

    .work-with-us-card {
        zoom: 59%;
        right: 6px;
        top: 39%;
    }

    .work-with-us-card .btn-design {
        width: 78%;
    }

    .power-img img {
        margin-bottom: 1em;
    }

    .trusted-section {
        position: relative;
    }

    .home-all-card {
        height: 27em !important;
    }

    #new-carousel .swiper-button-prev,
    #new-carousel .swiper-button-next {
        display: none;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 28%;
        left: 37%;
        height: 29px;
    }

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 42px !important;
        height: 48px !important;
    }

    #history-carousel .swiper-button-prev {
        left: 89.6% !important;
    }

    .divider {
        height: 144px;
        width: 2px;
        margin-left: 20px;
        rotate: 90deg;
        position: absolute;
        top: -6%;
        right: 49%;
    }

    .slide {
        background-position: left;
        height: 87%;
    }

    .logo img {
        max-width: 100%;
    }

    .nav {
        width: 100%;
        margin-top: 0 !important;
        padding: 15px 11px;
        justify-content: space-between;
    }

    .section-text {
        padding: 0 11px;
    }

    .card-image {
        max-width: 34%;
    }

    .our-business .row {
        --bs-gutter-y: unset;
        --bs-gutter-x: unset;
    }

    header.shrink .nav {
        margin-top: 0em !important;
    }

    header.shrink {
        padding: 1.8em 0;
    }

    .slider-container {
        height: 34em;
    }

    .slide-content {
        zoom: 77%;
    }

    .custom-view {
        min-height: 39em !important;
    }

    .slide-title {
        margin-bottom: 2rem;
    }

    .stats-container {
        flex-wrap: unset;
    }

    .plr {
        padding: 0.688em;
    }

    .footer-menu {
        display: unset !important;
    }

    .footer-menu h5 {

        margin-top: 2em;
    }

    .footer-menu.contact {
        margin-top: 0em;
        padding-left: unset;
    }

    .card-custom h3 {
        font-size: 15px;
        padding: 0;
    }

    .card-custom p {
        padding: 0;
        font-size: 0.8em;
    }

    .card-custom {
        padding: 5px;
        height: 90%;

    }

    .card-image {
        max-width: 40%;
        object-fit: cover;
        max-height: 23%;
        margin: 1em 0;
    }

    .group-icon {
        text-align: end;
    }

    .group-icon img {
        max-width: 70%;
    }

    .powering-progress .btn-design-new {
        padding: 6px;
        width: 62%;
        font-size: 0.8em;
        align-items: center;
    }

    .btn-design-new svg {
        height: 22px;
    }

    .content-text {
        max-width: 100%;
    }

    .content-text h3 {
        font-size: 1.6em;
    }

    .history-box {
        zoom: 53%;
    }

    #history-carousel {
        bottom: -38%;
        padding: 17px;
        max-width: 100%;
        right: -9%;
    }

    #history-carousel .owl-nav button.owl-next span,
    #history-carousel .owl-nav button.owl-prev span {
        font-size: 2em;
    }

    #history-carousel .owl-nav button.owl-next,
    #history-carousel .owl-nav button.owl-prev {
        width: 4em !important;
        height: 4em !important;
        margin-right: 10px;
    }

    .btn-design {
        top: 95%;
        left: 9%;
        width: 63%;
    }

    .btn-design-new {
        width: 62%;
    }

    #join-carousel .owl-dots {
        width: 21%;
        padding: 3px;
        left: 39%;
    }

    .news-box {
        max-width: 100%;
    }

    .ready h2 {
        font-size: 1.4em;
    }

    .ready .btn-design-new {
        width: 45%;
    }

    .social-icons {
        justify-content: unset !important;
    }

    .offcanvas-body {
        zoom: 82%;
    }

    /* about  */
    .about-banner {
        height: 21em;
    }

    .about-banner img {
        height: 21em;
        object-fit: cover;
    }

    .about-banner-caption h2 {
        zoom: 42%;
    }

    .vision-section .card-custom p {
        zoom: 86%;
    }

    .core-values .card-custom {
        height: 18em;
    }

    .timeline-dot {
        top: 0%;
        left: 2%;
    }

    .timeline-image img {
        max-width: 89%;
    }

    .custom-vew-state {
        padding-left: 0 !important;
        zoom: 72%;
    }

    .about-card-second {
        height: 18em !important;
    }

    /* leadership  */
    .leadership-banner {
        height: 21em;
    }

    .leadership-banner img {
        height: 21em;
        object-fit: cover;
    }

    .leadership-banner-caption {
        width: 90%;
    }

    .leadership-banner-caption h2 {
        zoom: 42%;
    }

    .leader-section ul#pills-tab {
        zoom: 81%;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {
        height: unset;
    }

    .custom-view-small {
        padding: 1em 0 !important;
    }

    .member-name {
        font-size: 1.4em;
    }

    .project-section .btn-design {
        left: unset;
        position: unset;
    }
}



/* @media (min-width: 423px) and (max-width: 440px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 51px !important;
    }
}

@media (min-width: 407px) and (max-width: 423px) {

    #history-carousel .swiper-button-prev,
    #history-carousel .swiper-button-next {
        width: 50px !important;
    }
}

@media (min-width: 397px) and (max-width: 407px) {
    #history-carousel .swiper-button-next {
        width: 48px !important;
    }
}


@media (min-width: 391px) and (max-width: 397px) {
    #history-carousel .swiper-button-next {
        width: 47px !important;
    }
}

@media (min-width: 384px) and (max-width: 390px) {
    #history-carousel .swiper-button-next {
        width: 46px !important;
    }
}

@media (min-width: 374px) and (max-width: 383px) {
    #history-carousel .swiper-button-next {
        width: 45px !important;
    }
}

@media (min-width: 365px) and (max-width: 373px) {
    #history-carousel .swiper-button-next {
        width: 44px !important;
    }
} */


@media (min-width: 365px) and (max-width: 439px) {
    .news-content .btn-design-new {
        width: 50%;
    }

    .section-title {
        font-size: 21px;
    }

    .section-text,
    .sus-para {
        font-size: 0.8em;
    }

    .stats-container {
        zoom: 79%;
    }

    .card-custom {
        zoom: 60%;
    }

    .card-custom p {
        font-size: 1.1em;
    }

    .btn-design-new svg {
        max-width: 18%;
    }

    .powering-progress .btn-design-new {
        width: 71%;
    }

    .content-text {
        zoom: 79%;
    }

    .content-text h3 {
        font-size: 1.9em;
    }

    #history-carousel {
        bottom: -57%;
        right: -8%;
    }

    .btn-design-new {
        zoom: 85%;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 33%;
        left: 33%;
    }

    .ready .btn-design-new {
        zoom: 60%;
    }

    .ready h2 {
        zoom: 70%;
    }

    .btn-design {
        zoom: 93%;
        top: 105%;
    }

    .custom-view {
        padding: 0px 1rem !important;
    }

    #history-carousel .swiper-button-next {
        right: 1% !important;
    }

    #history-carousel .swiper-button-prev {
        left: 86% !important;
    }


    /* about  */
    .about-banner {
        height: 21em;
    }

    .about-banner img {
        height: 21em;
        object-fit: cover;
    }

    .about-banner-caption h2 {
        zoom: 42%;
    }

    .vision-section .card-custom p {
        zoom: 86%;
    }

    .core-values .card-custom {
        height: 22em;
    }

    .timeline-dot {
        top: 0%;
        left: 2%;
    }

    .timeline-image img {
        max-width: 89%;
    }

    .custom-vew-state {
        padding-left: 0 !important;
        zoom: 72%;
    }

    /* leadership  */
    .leadership-banner {
        height: 21em;
    }

    .leadership-banner img {
        height: 21em;
        object-fit: cover;
    }

    .leadership-banner-caption {
        width: 90%;
    }

    .leadership-banner-caption h2 {
        zoom: 42%;
    }

    .leader-section ul#pills-tab {
        zoom: 76%;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {
        height: unset;
    }

    .custom-view-small {
        padding: 1em 0 !important;
    }

    .member-name {
        font-size: 1.4em;
    }

    .project-section .btn-design {
        left: unset;
        position: unset;
    }

    .work-with-us-card {
        zoom: 48%;
        right: 6px;
        top: 39%;
    }
}

/* 321 to 365  */

/* @media (min-width: 352px) and (max-width: 365px) {
    #history-carousel .swiper-button-next {
        width: 43px !important;
    }
}

@media (min-width: 339px) and (max-width: 352px) {
    #history-carousel .swiper-button-next {
        width: 41px !important;
    }
}

@media (min-width: 324px) and (max-width: 339px) {
    #history-carousel .swiper-button-next {
        width: 39px !important;
    }
}

@media (min-width: 320px) and (max-width: 323px) {
    #history-carousel .swiper-button-next {
        width: 37px !important;
    }
} */

@media (min-width: 320px) and (max-width: 365px) {
    .news-content .btn-design-new {
        width: 50%;
    }

    .work-with-us-card {
        zoom: 48%;
        right: 6px;
        top: 39%;
    }

    .section-title {
        font-size: 21px;
    }

    .section-text,
    .sus-para {
        font-size: 0.8em;
    }

    .stats-container {
        zoom: 79%;
    }

    .card-custom {
        zoom: 60%;
    }

    .card-custom p {
        font-size: 1.1em;
    }

    .btn-design-new svg {
        max-width: 18%;
    }

    .powering-progress .btn-design-new {
        width: 71%;
    }

    .content-text {
        zoom: 79%;
    }

    #history-carousel {
        bottom: -61%;
        right: -8%;
    }

    .btn-design-new {
        zoom: 71%;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 33%;
        left: 33%;
    }

    .ready .btn-design-new {
        zoom: 60%;
    }

    .ready h2 {
        zoom: 70%;
    }

    .btn-design {
        zoom: 66%;
        top: 113%;
    }

    .custom-view {
        padding: 0px 1rem !important;
    }

    #history-carousel .swiper-button-next {
        right: 1% !important;
    }

    #history-carousel .swiper-button-prev {
        left: 86% !important;
    }


    /* about  */
    .about-banner {
        height: 21em;
    }

    .about-banner img {
        height: 21em;
        object-fit: cover;
    }

    .about-banner-caption h2 {
        zoom: 42%;
    }

    .vision-section .card-custom p {
        zoom: 86%;
    }

    .core-values .card-custom {
        height: 25em;
    }

    .timeline-dot {
        top: 0%;
        left: 2.6%;
    }

    .timeline-image img {
        max-width: 89%;
    }

    .custom-vew-state {
        padding-left: 0 !important;
        zoom: 63%;
    }

    /* leadership  */
    .leadership-banner {
        height: 21em;
    }

    .leadership-banner img {
        height: 21em;
        object-fit: cover;
    }

    .leadership-banner-caption {
        width: 90%;
    }

    .leadership-banner-caption h2 {
        zoom: 42%;
    }

    .leader-section ul#pills-tab {
        zoom: 57%;
    }

    .team-name {
        padding: 1em;
    }

    .team-card {
        height: unset;
    }

    .custom-view-small {
        padding: 1em 0 !important;
    }

    .member-name {
        font-size: 1.4em;
    }

    .project-section .btn-design {
        left: unset;
        position: unset;
    }
}