@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Liter&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    background-color: #02A683;
}


.bg-color {
    background-color: #02A683;
}

.sidebar .border-bottom,
.border-top,
.border-end {
    border-color: #02A683 !important;
}

.sidebar-nav .nav-link.active {
    background: #fff;
    color: #000;
}

.sidebar-nav .nav-link:hover {
    background: #fff;
    color: #000;
}

.sidebar-nav .nav-link.active .nav-icon {
    color: #cda837;
}

.sidebar-nav svg.nav-icon {
    color: #fff;
}

.header-nav .show>.nav-link,
.header-nav .nav-link.active {
    color: #fff;
}

.header-nav .nav-link {
    color: #fff;
}